<div class="container" style="height: 90%">
  <div class="row h-100 align-content-center">
    <div
      class="col rounded"
      style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; height: 90%"
    >
      <div
        class="h-100 d-flex justify-content-center align-items-center"
        *ngIf="loading"
      >
        <div>
          <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>

      <!-- todo : change here for loading!! -->
      <div class="container h-100" *ngIf="!loading">
        <div class="row mt-3" style="height: 80%; border: 3px dashed #a3cef1">
          <div
            class="col"
            style="height: 100%; overflow-y: scroll"
            #scrollMe
            [scrollTop]="scrollMe.scrollHeight"
          >
            <div class="members rounded">
              <app-members></app-members>
            </div>
            <app-messages [messages]="messages"></app-messages>
          </div>
        </div>
        <div class="row w-100 align-content-center" style="height: 18%">
          <div class="col-8 h-50">
            <input
              type="text"
              name="message"
              maxlength="100"
              [(ngModel)]="messageText"
              class="w-100 pl-3 pr-3 h-100 rounded-pill text-left"
              (keyup.enter)="sendMessage()"
              autofocus
            />
          </div>
          <div class="col-2">
            <input
              type="button"
              name="message"
              maxlength="100"
              id="sendBtn"
              value="Send"
              class="w-100 pl-3 pr-3 h-100 rounded-pill text-center"
              (click)="sendMessage()"
              ngbTooltip="Click to send"
              autofocus
            />
          </div>
          <div class="col-2">
            <input
              type="text"
              name="code"
              maxlength="6"
              id="sessionid"
              value="{{ sessionId }}"
              class="
                w-100
                pl-3
                pr-3
                h-100
                rounded-pill
                text-center text-nowrap text-body
              "
              placement="top"
              ngbTooltip="Click to copy"
              (click)="cpyToClipBoard()"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
