.t-field {
  outline: none;
  border: none;
  border: 3px solid #a3cef1;
  font-size: large;
}

.t-field:focus,
.t-field:hover {
  border: 3px solid #57cc99;
}
.c-btn {
  width: 60%;
  font-size: larger;
  font-weight: bold;
  background-color: #57cc99;
  border: 2px dashed #57cc99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.c-btn:hover {
  color: white;
}
