<div class="wrapper h-100 rounded mt-3 p-2">
  <ul>
    <li class="w-100" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      <div class="container-fluid pb-3">
        <div class="row w-100">
          <div class="col-1">
            <img src="../../../assets/user-icon.png" alt="" srcset="" />
          </div>
          <div class="col">
            <div class="container-fluid">
              <div class="row">
                <div class="col"><small>Vignesh G</small></div>
              </div>
              <div class="row">
                <div class="col">Messsage content is here!!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
