<div class="wrapper h-100 rounded mt-3 p-2">
  <ul>
    <li class="w-100" *ngFor="let message of messages">
      <div class="container-fluid pb-3">
        <div class="row w-100">
          <div class="col-1">
            <img src="../../../assets/user-icon.png" alt="" srcset="" />
          </div>
          <div class="col">
            <div class="container-fluid">
              <div class="row">
                <div
                  class="col"
                  [ngClass]="{
                    chattitle: message.sentBy === 'Chat-In-Session'
                  }"
                >
                  <small>{{ message.sentBy }}</small>
                </div>
              </div>
              <div class="row">
                <div
                  class="col"
                  [ngClass]="{ chatmsg: message.sentBy === 'Chat-In-Session' }"
                >
                  {{ message.messageText }}
                  <small class="text-black-50">{{
                    getTime(message.sentAt)
                  }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
