/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap");

* {
  border: none;
  padding: none;
  /* background-color: #edf2fb; */
  font-family: "Inter";
}
